#banner
  background-size: cover
  background-position: 50%
  height: 300px
  background-color: $secondary_color
  padding-top: 224px
  box-sizing: border-box
  text-align: center
  position: relative
  @media screen and (max-width: 850px)
    padding-top: 140px
  h2, p
    color: white
  &.large_banner
    height: 600px

#banner_text
  padding: 24px
  background-color: rgba($primary_color, 0.5)
  z-index: 2
  position: relative

  h2
    text-transform: uppercase
    font-size: 2rem
    margin: 0

  p
    font-size: 1.375rem
    font-weight: 500

#apartment_previews
  max-width: 1200px
  margin: 0 auto 40px

.apartment_preview
  +flexbox

.apartment_preview_text
  +flex(1)
  padding: 40px
  box-sizing: border-box
  min-width: 300px
  h1, h2, h3, p
    color: white
  p
    font-size: 0.875rem
  &.odd
    background-color: $blue
  &.even
    background-color: $light_blue
  a
    color: white
    border: 1px solid white
    padding: 8px 20px
    margin: 10px 0 0
    display: inline-block

.apartment_preview_image
  +flex(2)
  background-size: cover
  background-position: 50
