%footer#footer
  = image_tag 'square_logo.png'

  #page_bottom
    %span &copy; Copyright 2016, Luxury City Apartments

    .website_design
      = link_to 'Web Design Norwich', 'https://cd2solutions.co.uk'
